.loading {
  display: flex;
  gap: 10px; /* spacing between loaders */
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  background: #20357f;
  clip-path: polygon(
    100% 50%, 
    64.14% 64.14%, 
    50% 100%, 
    35.86% 64.14%, 
    0% 50%, 
    35.86% 35.86%, 
    50% 0%, 
    64.14% 35.86%
  );
  -webkit-mask: radial-gradient(circle 4px, #c6131300 90%, #000000);
  animation: spin 1.5s infinite linear;
}

@keyframes spin { 
  100% { transform: rotate(1turn); }
}
